<md-toolbar color="primary" >
  <div fxLayout="row" fxLayoutAlign="space-between center" style="flex:1">
    <div >{{ title }}</div>
    <div>
      <button md-raised-button
              *ngFor="let link of links"
              color="primary"
              [routerLink]="link.route"
              routerLinkActive
              #rla="routerLinkActive">
        {{ link.title }}
      </button>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon class="header-icon" >more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>dialpad</md-icon>
          <span>TODO</span>
        </button>
      </md-menu>
    </div>  
  </div>
</md-toolbar>
