<md-card class="recipe-form-card">
  <md-card-header>
    Edit Recipe
    <p>Value: {{ recipeForm.value | json }}</p>
    <p>Validation status: {{ recipeForm.status }}</p>
  </md-card-header>
  <img md-card-image [src]="imageUrl.value">
  <md-card-content>
    <form [formGroup]="recipeForm" (ngSubmit)="onSaveRecipe()">
      <md-input-container>
        <input mdInput
               formControlName="name" 
               placeholder="Recipe">
      </md-input-container>
      <md-input-container>
        <input mdInput
               formControlName="imageUrl" 
               placeholder="Image URL"
               #imageUrl>
      </md-input-container>
      <md-input-container>
        <textarea mdInput
               formControlName="description" 
               placeholder="Description">
        </textarea>
      </md-input-container>
      <md-list formArrayName="ingredients" >
        <md-list-item *ngFor="let ingredient of ingredients; let i = index"
                      [formGroupName]="i" >
          <md-input-container>
            <input mdInput
                  formControlName="name" 
                  placeholder="Ingredient Name">
          </md-input-container>
          <md-input-container>
            <input mdInput
                   formControlName="amount"
                   type="number"
                   min="0" 
                   placeholder="Amount">
          </md-input-container>
          <button md-mini-fab 
                  type="button"
                  (click)="onRemoveIngredient(i)">
              <md-icon>delete</md-icon>
          </button>
        </md-list-item>
        <md-list-item>
          <button md-raised-button
                  type="button" 
                  (click)="onAddIngredient()">
            <md-icon>add</md-icon>        
            Add Ingredient                
          </button>
          <button md-raised-button 
                  type="button"
                  [disabled]="recipeForm.invalid"
                  (click)="onSaveRecipe()">
            <md-icon>save</md-icon> Save
          </button>
          <button md-raised-button 
                  type="button"
                  (click)="onDone()">
            <md-icon>cancel</md-icon> Cancel
          </button>
        </md-list-item> 
      </md-list>
    </form>
  </md-card-content>
</md-card>