<md-sidenav-container class="shopping-container" fxFlexFill>
  <md-sidenav #sidenav mode="side" opened="true" class="shopping-list-sidenav mat-elevation-z4">
    <!-- Shopping List header, holds label and add ingredient FAB  -->
    <!-- TODO: pin this to the top of the sidenav  -->
    <md-toolbar>
      <div fxFill fxLayoutAlign="space-between center">
        <span>Shopping List</span>
        <!--
          * Button was intended to initiate form to create new ingredient, but wasn't needed 
          * Current implementation is not very intuitive, may need button again  
        -->
        <!-- 
        <button md-mini-fab (click)="onNewIngredient()">
          <md-icon class="md-18|md-24|md-36|md-48">add</md-icon>
        </button> 
        -->
      </div>  
    </md-toolbar>

    <md-list>
      <md-list-item *ngFor="let ingredient of ingredients; let i = index">
        <md-chip-list>
          <md-chip> {{ ingredient.amount}} </md-chip>
        </md-chip-list>
        {{ ingredient.name }}
        <span class="auto-spacer"></span>
        <button md-icon-button
                (click)="onEditIngredient(i)">
          <md-icon>edit</md-icon>
        </button>
        <button md-icon-button 
                (click)="onRemoveIngredient(i)">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <!-- Holds Form for editing, adding ingredients  -->
  <div class="shopping-edit" fxFlex>
    <app-shopping-edit></app-shopping-edit>
  </div>
</md-sidenav-container>

<!-- FAB Button opens and closes sidenave  -->
<button md-mini-fab class="shopping-list-display-fab" (click)="sidenav.toggle()">
  <md-icon>list</md-icon>
</button>
