<md-sidenav-container class="recipes-container">
  <md-sidenav #sidenav mode="side" opened="true" class="recipe-list-sidenav mat-elevation-z4" >
    <div >
      <app-recipe-list></app-recipe-list>
    </div>
  </md-sidenav>
  <button md-mini-fab class="recipe-list-display-fab" (click)="sidenav.toggle()">
    <md-icon>list</md-icon>
  </button>
  <div class="recipe-detail">
    <router-outlet></router-outlet>
    <!-- <app-recipe-detail [recipe]="selectedRecipe"></app-recipe-detail> -->
  </div>
</md-sidenav-container>
